# Dependencies
node_modules
package-lock.json

# Environment variables
# .env
# .env.*
# !.env.example

# Build outputs
dist
build
.vite
coverage

# IDE specific files
.vscode
.idea
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Test coverage
coverage
.nyc_output

# Docker
.docker
docker-compose.override.yml

# Misc
.cache
.temp
.tmp
.git_disabled/
backend/database/database.db
database.db
backend/database/database.db
backend/dump.rdb
backend/uploads/
backend/sqlite.db
